@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-vollio-orange: #f37021;
  --color-vollio-light: #f9a66c;
  --color-vollio-white: #fff9f5;
  --color-vollio-dark: #2c2c2c;
  --color-vollio-gray: #a7a7a7;
  --color-vollio-accent: #2ec4b6;
  --color-vollio-50: #fef7ee;
  --color-vollio-100: #fdeed7;
  --color-vollio-200: #fad9ae;
  --color-vollio-300: #f7bd7a;
  --color-vollio-400: #f39844;
  --color-vollio-500: #ef781c;
  --color-vollio-600: #e06016;
  --color-vollio-700: #ba4814;
  --color-vollio-800: #943a18;
  --color-vollio-900: #773217;
  --color-vollio-950: #40160a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
